<% content_for :page_title, @article.title %>

<section class="section">
    <div class="box has-background-grey-lighter">
        <div class="container has-text-centered ">
            <h2 class="title">
                <%= @article.title %>
            </h2>
            <p class="subtitle">
                <%= @article.body %>
            </p>
        </div>
        <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure!?"}, class: "button is-danger is-outlined" %>
    </div>
    
</section>

