<div class="ui segment">
    <h2 class="ui centered floated header">
        <%= @article.title %>
    </h2>
    <div class="ui clearing divider">
        <p>
            <%= @article.body %>
        </p>
    </div>
</div>