<% content_for :page_title, 'Homepage' %>
<section class="section">
    <div class="container">
        <% @articles.each do |post|%>
            <div class="box has-text-centered">
                    <p class="title">
                        <%=link_to post.title, @article %>
                    </p>
                    <hr>
                    <p class="subtitle">
                        <%= post.body%>
                    </p>     
            </div>
        <% end %>
    </div>
</section>
       
.